body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
    background: #FFD60A;
}

.avatar {
    width: 200px;
    border-radius: 100px;
    box-shadow: 2px 2px 10px;
}



.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #003566;
    color: #FFC300;
    border: 2px solid #000814;
    border-bottom: 6px solid #001d3d;
    border-radius: 50px 10px 20px 100px;
    box-shadow: 10px 10px 10px #000814;
    text-shadow: 1px 1px 5px #000814;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.text:hover {
    color: #000814;
    text-shadow: 1px 1px 5px #001d3d;
    font-weight: bold;
}


.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

